@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.input-box input[type="date"] {
    width: 150px; 
    height: 50px; 
  }

.input-box .small-input {
    width: 150px; 
    background-color:rgba(201, 76, 76, 0.3);
    
   
}
.input-box .ss {
    width: 150px; 
    position: relative; 
    background-color: darkseagreen;
    right: 5px;
}
.input-box .sv {
  width: 150px; 
  position: relative; 
  background-color: rgb(228, 112, 112);
  right: 5px;
}
.input-box .sj {
  width: 150px; 
  position: relative; 
  background-color: darkgrey;
  right: 5px;
}
.input-box .sm {
  width: 150px; 
  position: relative; 
  background-color: cadetblue;
  right: 5px;
}
.input-box .sn {
    width: 310px; 
    position: relative; 
    right: 8px;
    
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgb(130, 106, 251);
}
.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 50%;
  margin-top: 20px;
}


.input-box label {
  color: #333;

}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 10px;
}

.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}
.form button:hover {
  background: rgb(88, 56, 250);
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}

table, th, td {
  border:1px solid black;
  height: 50PX;
  border-radius: 6px;
  border: 1px solid #707070;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
 

#di{
  background:rgba(201, 76, 76, 0.3);
  width: 150px;
  border-radius: 6px;

}
#dip{
  background:rgba(201, 76, 76, 0.3);
  width: 100px;
  border-radius: 6px;
  height: 40px;

}
#pd{
  background-color:  darkseagreen;
  width: 80px;
  height: 50px;
}
#pd1{
  background-color:rgb(228, 112, 112);
  width: 80px;
}
#pd2{
  background-color: darkgrey;
  width: 80px;
}
#pd3{
  background-color:cadetblue;
  width: 80px;
}